---

- name: Update package cache & dist-upgrade packages
  apt:
    upgrade: dist
    update_cache: yes
  async: 600
  poll: 10


- name: Check if reboot is required
  stat:
    path: /var/run/reboot-required
  register: stat
  changed_when: stat.stat.exists


#
# Reboot & wait derived from code written by Martin Eggen.
# https://github.com/ansible/ansible/issues/14413#issuecomment-257887580
# 

- name: Reboot host
  shell: sleep 2 && shutdown -r now "Ansible reboot"
  async: 1
  poll: 0
  ignore_errors: yes
  when: stat.stat.exists


- name: Wait for host to be ready
  sudo: no
  connection: local
  local_action: wait_for 
  args:
    host: "{{ ansible_host }}"
    port: "{{ ansible_port | default(22) }}"
    state: started
    delay: 30
    timeout: 300

